langchain==0.1.0
langchain-google-genai==0.0.6
google-generativeai==0.3.2
sentence-transformers==2.5.1
python-dotenv==1.0.1
streamlit==1.32.0
torch==2.2.1 
torchvision==0.17.1
transformers>=4.30.0 
langchain-community==0.0.15 
pypdf==3.17.1 
faiss-cpu==1.7.4